<div class="d-flex flex-column text-center">
    <h1>Hey guys, voilà les trois pages :</h1>
    
    <%= link_to "Embassades", embassies_path, class: "btn btn-primary" %>
    <%= link_to "Pays", countries_path, class: "btn btn-primary" %>
    <%= link_to "Français à l'étranger", french_foreigners_path, class: "btn btn-primary" %>
</div>