<div class="d-flex flex-column text-center">
    <h1 class="mb-5">Hey guys, voilà les trois pages :</h1>

    <ul style="list-style: none;">
        <li><%= link_to "Embassades", embassies_path, class: "btn btn-primary text-white m-2 py-2 px-4" %></li>
        <li><%= link_to "Pays", countries_path, class: "btn btn-primary text-white m-2 py-2 px-4" %></li>
        <li><%= link_to "Français à l'étranger", french_foreigners_path, class: "btn btn-primary text-white m-2 py-2 px-4" %></li>
    </ul>
</div>
